.crearPortada(ng-show="crearPortada")
    md-card
        md-toolbar
            .md-toolbar-tools
                h1 Imagenes
                span(flex)
        form(layout="column" ng-submit="submit(imagen)")
           .dropify-container(ng-init="Dropify()" ng-hide="inputImage" flex)
               input.dropify(type="file" data-default-file="Imagen del producto" ng-model="area.imagen" base-sixty-four-input maxsize="5120" data-max-file-size="1000K" accept="image/*" style="padding:0px;")
           .croppie-container(ng-show="inputImage" flex)
               ng-croppie(src="inputImage"
                   ng-model='imagen.imagen'
                   update='onUpdate'
                   boundry="{w: 1028, h: 300}"
                   viewport="{w: 1128, h: 600}"
                   mousezoom="true" 
                   zoom="true" 
                   orientation="90"
                   type="square")
            md-divider
            div(layout-aling="center center")
                md-input-container
                    label Selecciona un área
                    md-select(ng-model="imagen.id_area")
                        md-option(ng-repeat="area in areas" ng-value="area.id") {{area.nombre}}
                md-button(md-colors="{background: 'green'}" type="submit" flex)
                    md-icon save

div(layout="row" layout-align="center center")
    div(flex="80")
        .portada
            md-card-content(layout="row")
                md-autocomplete(
                flex
                md-selected-item="ctrl.selectedPortada"
                md-search-text-change="ctrl.BuscarPortadaChange(ctrl.searchTextPortada)"
                md-search-text="ctrl.searchTextPortada"
                md-selected-item-change="ctrl.PortadaSeleccionadaChange(item)"
                md-items="item in portadas"
                md-item-text="item.area"
                md-min-length="0"
                placeholder="Nombre de la Portada"
                md-menu-class="autocomplete-custom-template")
                    md-item-template
                        span {{item.area}}
                md-button(md-colors="{background: 'green'}" ng-click="crearPortada = !crearPortada")
                    md-icon add			
        .Lista
            md-card
                md-toolbar
                    h4 Lista de Portadas 
                md-grid-list(md-cols="5" md-row-height="90px")
                    md-grid-tile(style="background-image: url({{portada.imagen}})" ng-repeat="portada in portadas" md-colspan="1" md-rowspan="2" ui-sref="portada.filtro({area: area})")
                        md-grid-tile-footer
                            md-button(md-colors="{background:'red'}" ng-click="eliminarPortada(portada,$index)")
                                md-icon clear
            
            md-list
            md-grid-list
